@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #ec4755;
  --color-secondary: #a12c34;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-red-700;
}

a:hover {
  @apply border-b-2 border-red-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.usd_block {
  position: fixed;
  top: 20px;
  right: 10px;
  background: rgba(5, 150, 105, var(--tw-text-opacity));
  color: #fff!important;
  padding: 10px;
  border-radius: 12px;
}

.footer_maps {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 50px;
}

.footer_text {
  width: 500px;
  text-align: left;
  margin-left: 20px;
}

.footer_text > div {
  margin-bottom: 10px;
}

.maps_google {
  width: 600px;
  height: 450px;
}
@media screen and (max-width: 991px) {
  .usd_block {
    position: absolute;
    top: 20px;
    right: initial;
    left: 195px;
  }

  .footer_maps {
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column-reverse;
    margin-right: 30px;
    margin-top: 10px;
  }

  .footer_text {
    width: 100%;
  }

  .maps_google {
    width: 100%;
  }
}